@import url(//fonts.googleapis.com/css?family=Roboto:400,700);
@import url(//fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(//fonts.googleapis.com/css?family=Special+Elite:400,700);

.reveal {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: normal;
    font-size: 42px;

    section img {
        /* Disable background 4px border around images */
        border: none;
        background: none;
        /* Disable box shadow around images */
        box-shadow: none;

        /* Blow image up to full screen size */
        height: auto;
        width: 100%;
        margin: 2%;
        max-width: 100%;
        max-height: 100%;
    }

    /* Make sure keyboard shortcuts help is visible */
    .overlay-help .viewport {
        th, td {
            color: white;
        }
    }

    /* Blow iframe up to full screen size */
    iframe {
        height: 90%;
        width: 100%;
        margin: 1%;
        max-width: 100%;
        max-height: 100%;
    }

    h1 {
        font-size: 2.6em;
        /* change spacing for Roboto */
        letter-spacing: -2px;
        margin-top: 1rem;
    }

    h2 {
        font-size: 1.8em;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }

    h3 {
        /* before 1.5em */
        margin-top: 1.0em;
        font-size: 1.0em;
    }

    h1, h2, h3, h4, h5 {
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        text-transform: none !important;
        color: black;
    }

    h6 {
        font-size: 2em;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        text-transform: initial;
        color: black;
    }

    table, td, tr {
        border-style: hidden;
    }

    sup {
        font-size: 50%;
    }

    .progress span {
        background-color: black
    }

    .controls {
        div.navigate-up, div.navigate-up.enabled {
            border-bottom-color: black
        }

        div.navigate-down, div.navigate-down.enabled {
            border-top-color: black
        }

        div.navigate-left, div.navigate-left.enabled {
            border-right-color: black
        }

        div.navigate-right, div.navigate-right.enabled {
            border-left-color: black
        }
    }

    a {
        white-space: nowrap;
    }

    code {
        font-family: "Source Code Pro", monospace !important;
        color: black !important;
        text-shadow: none;
        text-transform: none;
    }

    pre code {
        font-family: "Source Code Pro", monospace !important;
        background: inherit !important;
        line-height: 1.2;
        font-size: 1.3em;
        text-shadow: none;
        text-transform: none;
        font-weight: normal;
        min-height: 500px;
        max-height: 100%;
        max-width: 100%;
    }

    .stamp {
        position: absolute;
        color: red !important;
        font-size: 6em !important;
        font-family: "Special Elite" !important;
        transform: rotate(-45deg);
        position:absolute;
        left:50%;
        top:50%;
        margin-left:-20vw;
        margin-top:-10vh;
        text-shadow: none;
    }
}

.reveal .slides {
        text-align: left;
}

.section-break {
    .reveal .slides {
        $left-margin: 2%;
        $top-margin: 3%;
        $bg-height: 100% - (2 * $top-margin);
        $width: 100% - (2 * $left-margin);

        > section {
            padding: 0;
            height: 30%;
            position: absolute;
            top: 40%;
            text-align: left;

            h1, h2 {
                color: black;
            }

            h1 {
                font-size: 3em;
                font-weight: bold;
                //text-transform: uppercase !important;
            }

            h2 {
                font-size: 32pt;
                font-weight: normal;
            }

            code {
                color: black !important;
            }
        }
    }
}

@media print {
    .reveal {
        h1, h2, h3, h4, h5, h6 {
            color: black;
        }
    }
}

